tr.strikeout td {
  position: relative;
}
tr.strikeout td::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  pointer-events: none;
}
